.navbarflex{
    display: flex;
    justify-content: space-around;
    margin: 0 0rem 0 35%;
}
.bold{
    font-weight: bolder;
    margin: 0.5rem 1rem -0.5rem 1rem;
}

.red{
    color: red;
}

.green{
    color: green;
}

h1{
    position: relative;
    margin: 3rem;

}

.footer{
    text-align: center;
    background: rgb(162, 162, 162);
    padding: 2rem 0 1rem 0;
    margin: 2rem 0 0 0;
}
.footer a,p{
    color: #000;
}

