.abel{
   font-family: 'Abel', sans-serif ;
}
p{
    font-family: 'Abel', sans-serif ;
    color: black;
}

.hel{
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 100%;
}

a{
    text-decoration: none !important;
}
.smalltext{
    font-size: 14px;
}
.medtext{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.yellow{
    color: rgb(220, 154, 11) !important;
}
.blue{
    color: blue;
}

.boxy{
    border: 1px solid rgb(135, 120, 120);
    background: rgb(241, 238, 238);
    border-radius:2px ;
    padding: 0.3rem;
    cursor: pointer;
}
span i .boxy:focus{
    border: 1px solid gray;
    background: rgb(170, 166, 166);
}

i:hover{
    cursor: pointer;
}

#likeCourse{
    font-size: 1.5rem;
    margin: 0.2rem;
}











.navbar{
    min-height: 5rem;
    max-height: 30rem;
}


/* searh box start */




 .search-box{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

 .search-box input{
    padding: 0.5rem;
    border-radius:0.4rem ;
    border:1px solid black;
    outline: none;
    color: black;
    font-family: "Abel";
    margin: 0.5rem;
    width:50%;
}

.search-box button{
    
        padding: 0.rem 2rem;
        border-radius: 1rem;
        background: rgb(163, 105, 163);
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        border: 1px solid transparent;
        outline: none;
        margin: 1rem;
        transform: translate(-6%);
    }




/* search box ends */

.bg-course{
    margin: 3rem 0;
}

.cardCourse{
    color: #000;
    width: 300;
    max-height: 380px;
    overflow-y: hidden;

}
.cardbox{
    width: 300px;
    margin: .5rem;
}
/* 
.cardCourse .homeimagediv{
    height: 270px;
    background: rgb(255, 255, 255);
} */



.cardCourse .homeimage{
    width: 290px;
    min-height: 185px;
    max-height: 195px;
}


.addcard{
    width: 330px;
    height: 290px;
    background: rgb(243, 243, 243);
    text-align: center;
}

.addcard p{
    font-size: 10rem;
    text-decoration: none;
    color: rgb(75, 182, 42);
}












@media (min-width: 768px){
.cardsInCourse {
    flex: 0 0 22%;
    margin:0 0 1rem 1rem;
    /* max-width: 25%; */
}

}

@media (max-width: 1336px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 2rem;
        /* max-width: 25%; */
    }
    
    }


@media (max-width: 1168px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 1%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 1068px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 0.2rem;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 991px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin: 2%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 730px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin:0 20%;
        /* max-width: 25%; */
    }
    
}

@media (max-width: 530px){
    .cardsInCourse {
        flex: 0 0 22%;
        margin:0 5%;
        /* max-width: 25%; */
    }
    
}


